@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}
*{
    font-family: 'Lobster';
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../imagens/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #FEFAE0;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    width: 100%;  
    background-color: #bc6c25;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20pt;
    }
.container-logo{
    width: 20%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    width: 40%;
    padding: 5px;
}

.container-menu{
    width: 50%;
    margin-left: 70px;
}

.container-menu a{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.item-menu{
    color: white;
    padding:15px;
    border-radius: 20px;
}
.item-menu:hover{ 
    cursor: pointer;
    color: black;
    background-color: #dda15e
}

#menu-wrapper {
    position: relative;
    display: inline-block;
  }

  #menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bc6c25;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border: solid 1px black;
  }

  #menu-button {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }


a#item-nav{
  color: white;
  text-decoration: none;
}

a#item-nav:hover{
  color: black;
  
}

.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.container-conteudo{
    padding: 20px;
}
.title{
    color:  #dda15e;
    margin: 15px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo{
    font-family: sans-serif;  
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5; 
    margin-bottom: 10px;
    text-align: center;
}
.alimentos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.alimentos-container img{
    width: 200px;
    height: 200px;
}
.categorias{
    display: flex;
    flex-direction: row;
    list-style: none   ;
}
.title-alimentos{
    color:  #dda15e;
    margin:20px;
    text-align: center;
    font-size: 30pt;
}
.categoria-img{
    border: 2px solid #dda15e;
    margin:1vw;
    box-shadow: 2px 2px 2px black;
    transition: transform 0.2s ease-in-out; 
}
.categoria-img:hover{
    transform: translate(0, -10px); 
    border: 2px solid #774418;
    margin:1vw; 
}
hr {        
    border: none; 
    height: 1px; 
    background-color: #000; 
    margin: 20px 0; 
  }

  .footer {
    padding: 10px;
    text-align: center;
    color: #333;
    font-size: 14pt;
    border-top: 1px solid #ccc;
    background-color: #774418;
    color: white;
  }
  
  .h3-footer {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
    
  .footer-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-ul p {
    margin-bottom: 10px;
  }
  
  .footer a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
  }

  .footer a:hover{
    color: black;
    background-color: #dda15e
  } 