h1{
  text-decoration: none;
  color: black;
}


.container-iframe{
  padding-top: 100px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

iframe{
    display: block;
    margin: auto;
    padding-top: 50px;
    border: #dda15e 1px;
    }
 
 
  div#produtos-naturais :not(span){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  ul#produtos-menu{
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    list-style: none;
    left: 200px;
    }

  ul#produtos-menu li{
    float:left;
    width: 180px;
    height: 180px;
    margin: 10px;
    border: 3px solid #dda15e;
    background-color: #dda15e;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .4s ease-in;
    display: flex;    
    }

  ul#produtos-menu li span{
    opacity: 1;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .3);
    font-size: 13pt;
    padding: 5px;
  }

ul#produtos-menu li:hover{
  transform: scale(1.5);
  border: none;
 }

ul#produtos-menu li#chas{
  background: url('../imagens/cha-menu.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#produtos-menu li#chas:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#produtos-menu li#farinhas{
  background: url('../imagens/farinha-menu.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#produtos-menu li#farinhas:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#produtos-menu li#oleoginosas{
  background: url('../imagens/oleoginosas-menu.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#produtos-menu li#oleoginosas:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#produtos-menu li#temperos{
  background: url('../imagens/temperos-menu.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#produtos-menu li#temperos:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#produtos-menu li#suplementos{
  background: url('../imagens/suplementos-menu.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#produtos-menu li#suplementos:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
