.produtos h2{
    text-align: center;
    margin: 20px;
        font-family: "Lobster";
        src: url("../fonts/Lobster-Regular.ttf");
  }

.produtos img{
    border: 2px solid #dda15e;
    margin:1vw;
    box-shadow: 2px 2px 2px black;
    transition: transform 0.2s; 
    display: auto;
}

.produtos img:hover{
    transform: translate(0, -10px);
    border: 2px solid #774418;
    margin:1vw;
    position: relative;
    
}

.produtos-container{
    text-align: center;
    padding-top: 75px;
}

.lista-produtos{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-produtos li{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}