@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}
*{
    font-family: 'Lobster' ;
    margin: 0px;
    padding: 0px;
}
.content{
font-family: sans-serif;  
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5; 
    margin-bottom: 10px;
    text-align: center;
    
}

.titulo{
    color:  #dda15e;
    margin: 15px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    padding: 20px;
    padding-top: 75px;
}

.container-loja{
    display: flex;
    flex-wrap: wrap;
}

.info{
    flex: 1;
    font-family: sans-serif;
    padding-left: 40px;
    font-size: 20px;
    line-height: 2.5;
}

.info a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 5px;
}

.info a:hover{
    background-color: #dda15e
}

.mapa{
    flex: 1;
}

body{
    padding-bottom: 15px;
}