@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf");
}

  body{
    background-color: #FEFAE0;
    padding-bottom: 20px;
  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lobster';
  }
     
  .cabecalho{
    display: flex;
    flex-direction: row;
    width: 100%;  
    background-color: #bc6c25;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #menu-wrapper {
    position: relative;
    display: inline-block;
  }

  #menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bc6c25;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border: solid 2px black;
  }

  #menu-button {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }


a#item-nav{
  color: white;
  text-decoration: none;
}

a#item-nav:hover{
  color: black;
  
}

  .container-logo{
    width: 20%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.logo{
    width: 40%;
    padding: 5px;
}

.container-menu{
    width: 50%;
    margin-left: -20px;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.item-menu{
    color: white;
    padding:15px;
    border-radius: 20px;
}
.item-menu:hover{ 
    cursor: pointer;
    color: black;
    background-color: #dda15e
}
    
  .main {
    margin: 0 auto;
    padding: 20px;
    
  }
   

  