@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf");
}

  body{
    background-color: #FEFAE0;
  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  
  .cabecalho{
    display: flex;
    flex-direction: row;
    width: 100%;  
    background-color: #bc6c25;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Lobster';
    font-size: 20pt;
    }

.container-logo{
    width: 20%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    width: 40%;
    padding: 5px;
}

.container-menu{
    width: 50%;
    margin-left: 70px;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.item-menu{
    color: white;
    padding:15px;
    border-radius: 20px;
}
.item-menu:hover{ 
    cursor: pointer;
    color: black;
    background-color: #dda15e
}
    
  .main {
    margin: 0 auto;
    padding: 20px;
  }
   

  .footer {
    font-family: 'Lobster';
    padding: 10px;
    text-align: center;
    color: #333;
    font-size: 14pt;
    border-top: 1px solid #ccc;
    background-color: #774418;
    color: white;
  }
  
  .h3-footer {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
    
  .footer-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-ul p {
    margin-bottom: 10px;
  }
  
  .footer a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
  }

  .footer a:hover{
    color: black;
    background-color: #dda15e
  } 